@model MovieVM
<link rel="stylesheet" href="~/css/movie.css" />

<div class="container">
    <h2 class="display-6 my-3">Create New Movie</h2>

    <form method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label>Name</label>
            <input class="form-control" name="Name" />
        </div>

        <div class="mb-3">
            <label>Main Image</label>
            <input class="form-control" type="file" name="img" />
        </div>

        <div class="mb-3">
            <label>Sub Images</label>
            <input class="form-control" type="file" name="subImgs" multiple />
        </div>

        <div class="mb-3">
            <label>Description</label>
            <textarea class="form-control" name="Description" style="height: 100px"></textarea>
        </div>

        <div class="mb-3">
            <label>Price</label>
            <input class="form-control" name="Price" />
        </div>

        <div class="mb-3">
            <label>Discount</label>
            <input class="form-control" name="Discount" />
        </div>

        <div class="mb-3">
            <label>Actors</label>
            <select name="actors" class="form-select" multiple>
                @foreach (var actor in Model.actors)
                {
                    <option value="@actor.Id">@actor.Name</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label>Cinemas</label>
            <select name="cinemaIds" class="form-select" multiple>
                @foreach (var cinema in Model.Cinemas)
                {
                    <option value="@cinema.Id">@cinema.Name</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label>Category</label>
            <select name="CategoryId" class="form-select">
                @foreach (var category in Model.Categories)
                {
                    <option value="@category.Id">@category.Name</option>
                }
            </select>
        </div>

        <div class="mb-3">
            <label>Status</label>
            <select name="Status" class="form-select">
                <option value="true">Active</option>
                <option value="false">Inactive</option>
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>
