@model MovieVM
<link rel="stylesheet" href="~/css/movie.css" />

<div class="container">
    <h2 class="display-6 my-3">Edit Movie</h2>

    <form method="post" enctype="multipart/form-data">
        <input type="hidden" name="Id" value="@Model.Movie!.Id" />

        <!-- Name -->
        <div class="mb-3">
            <label>Name</label>
            <input class="form-control" name="Name" value="@Model.Movie.Name" />
        </div>

        <!-- Main Image -->
        <div class="mb-3">
            <label>Main Image</label>
            <input class="form-control" type="file" name="img" onchange="previewImage(event)" />
            <img id="preview" src="~/images/@Model.Movie.MainImg" style="max-width: 200px; margin-top:10px;" />
        </div>

        <!-- Sub Images -->
        @if (Model.MovieSubImages != null && Model.MovieSubImages.Any())
        {
            <div class="mb-3">
                @foreach (var item in Model.MovieSubImages)
                {
                    <div style="display:inline-block; position:relative; margin-right:10px;">
                        <img src="~/images/movie_images/@item.Img" style="width:150px; border-radius:10px;" />
                        <a href="/Admin/Movie/DeleteSubImg?movieId=@Model.Movie.Id&Img=@item.Img" class="btn btn-sm btn-danger" style="position:absolute; top:5px; right:5px;">X</a>
                    </div>
                }
            </div>
        }

        <!-- Description -->
        <div class="mb-3">
            <label>Description</label>
            <textarea class="form-control" name="Description" style="height: 100px">@Model.Movie.Description</textarea>
        </div>

        <!-- Price -->
        <div class="mb-3">
            <label>Price</label>
            <input class="form-control" name="Price" value="@Model.Movie.Price" />
        </div>

        <!-- Discount -->
        <div class="mb-3">
            <label>Discount</label>
            <input class="form-control" name="Discount" value="@Model.Movie.Discount" />
        </div>

        <!-- Actors -->
        <select name="actors" class="form-select" multiple>
            @if (Model.actors != null)
            {
                foreach (var actor in Model.actors)
                {
                    if (Model.Movie.MovieActors != null)
                    {
                        bool isSelected = false;
                        foreach (var a in Model.Movie.MovieActors)
                        {
                            if (a.ActorId == actor.Id)
                            {
                                isSelected = true;
                                break;
                            }
                        }

                        if (isSelected)
                        {
                            <option value="@actor.Id" selected>@actor.Name</option>
                        }
                        else
                        {
                            <option value="@actor.Id">@actor.Name</option>
                        }
                    }
                    else
                    {
                        <option value="@actor.Id">@actor.Name</option>
                    }
                }
            }
        </select>


        <!-- Cinemas -->
        <select name="cinemaIds" class="form-select" multiple>
            @if (Model.Cinemas != null)
            {
                foreach (var cinema in Model.Cinemas)
                {
                    if (Model.Movie.MovieCinemas != null)
                    {
                        bool isSelected = false;
                        foreach (var c in Model.Movie.MovieCinemas)
                        {
                            if (c.CinemaId == cinema.Id)
                            {
                                isSelected = true;
                                break;
                            }
                        }

                        if (isSelected)
                        {
                            <option value="@cinema.Id" selected>@cinema.Name</option>
                        }
                        else
                        {
                            <option value="@cinema.Id">@cinema.Name</option>
                        }
                    }
                    else
                    {
                        <option value="@cinema.Id">@cinema.Name</option>
                    }
                }
            }
        </select>



        <!-- Category -->
        <div class="col-md-2">

            <select class="form-control" name="categoryId">
                <option>--Category--</option>
                @foreach (var item in Model.Categories)
                    {
                    if (item.Id == ViewBag.categoryId)
                    {
                        <option value="@item.Id" selected>@item.Name</option>
                    }
                    else
                    {
                        <option value="@item.Id">@item.Name</option>

                    }
                }
            </select>
        </div>

        <!-- Status -->
        <div class="mb-3">
            <label>Status</label>
            <select name="Status" class="form-select">
                @if (Model.Movie.Status)
                {
                    <option value="true" selected>Active</option>
                    <option value="false">Inactive</option>
                }
                else
                {
                    <option value="true">Active</option>
                    <option value="false" selected>Inactive</option>
                }
            </select>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

<!-- Preview Script -->
<script>
    function previewImage(event) {
        const input = event.target;
        const preview = document.getElementById("preview");

        if (input.files && input.files[0]) {
            const reader = new FileReader();
            reader.onload = function (e) {
                preview.src = e.target.result;
            };
            reader.readAsDataURL(input.files[0]);
        }
    }
</script>

@* @section Scripts {
    <partial name="_NotificationPartial" />
    <partial name="_ValidationScriptsPartial" />
} *@
