@model IEnumerable<Movie>

<div class="container">
    <div class="row mb-3 align-items-center my-3">
        <div class="col-md-6">
            <h2 class="display-6">All Movies</h2>
        </div>
        <div class="col-md-6 text-md-end text-start mt-2 mt-md-0">
            <a href="/Admin/Movie/Create" class="btn btn-success">Create</a>
        </div>
    </div>

    <table class="table table-hover">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Category</th>
                <th>Cinemas</th>
                <th>Actors</th>
                <th>Price</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.Category.Name</td>
                    <td>
                        @if (item.MovieCinemas.Any())
                        {
                            @string.Join(", ", item.MovieCinemas.Select(c => c.Cinema.Name))
                        }
                        else
                        {
                            <span class="text-muted">No Cinemas</span>
                        }
                    </td>
                    <td>
                        @if (item.MovieActors.Any())
                        {
                            @string.Join(", ", item.MovieActors.Select(a => a.Actor.Name))
                        }
                        else
                        {
                            <span class="text-muted">No Actors</span>
                        }
                    </td>
                    <td>@item.Price.ToString("c")</td>
                    <td>
                        <span class="badge @(item.Status ? "bg-success" : "bg-danger")">
                            @(item.Status ? "Active" : "Inactive")
                        </span>
                    </td>
                    <td>
                        <a href="/Admin/Movie/Edit/@item.Id" class="btn btn-warning btn-sm">Edit</a>
                        <a href="/Admin/Movie/Delete/@item.Id" class="btn btn-danger btn-sm">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
